<div class="container">
<mat-toolbar color="primary">Contact Us</mat-toolbar>
<div class="row">
  <div class="col-sm-3">
    <mat-card style="float:left" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Member Name</mat-card-title>
    <mat-card-subtitle>Designation</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/male-placeholder.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Contact Details
    </p>
  </mat-card-content>

</mat-card>
</div>
<div class="col-sm-3" style="float:right">
  <mat-card >
<mat-card-header>
  <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>Member Name</mat-card-title>
  <mat-card-subtitle>Designation</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="../assets/images/male-placeholder.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
  <p>
    Contact Details
  </p>
</mat-card-content>

</mat-card>
</div>
</div>

<hr style="height:1px; background-color:black">





<div class="row">
  <div class="col-sm-3">
    <mat-card style="float:left" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Member Name</mat-card-title>
    <mat-card-subtitle>Designation</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/male-placeholder.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Contact Details
    </p>
  </mat-card-content>

</mat-card>
</div>
<div class="col-sm-3" style="float:right">
  <mat-card >
<mat-card-header>
  <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>Member Name</mat-card-title>
  <mat-card-subtitle>Designation</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="../assets/images/male-placeholder.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
  <p>
    Contact Details
  </p>
</mat-card-content>

</mat-card>
</div>
</div>

<hr style="height:1px; background-color:black">





<div class="row">
  <div class="col-sm-3">
    <mat-card style="float:left" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Member Name</mat-card-title>
    <mat-card-subtitle>Designation</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/male-placeholder.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Contact Details
    </p>
  </mat-card-content>

</mat-card>
</div>
<div class="col-sm-3" style="float:right">
  <mat-card >
<mat-card-header>
  <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>Member Name</mat-card-title>
  <mat-card-subtitle>Designation</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="../assets/images/male-placeholder.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
  <p>
    Contact Details
  </p>
</mat-card-content>

</mat-card>
</div>
</div>

<hr style="height:1px; background-color:black">

</div>
