<div class="container" >
  <h1 class="title">Call For Paper</h1>
<hr class="margin-line">

<p>
The application of knowledge to meet practical requirements is termed as ‘Technology’ whereas the application of computational intelligent approaches for optimal use of energy resources and to transfer information through communication media makes the technology ‘smart’. In the recent scenario energy, communication and computation are interrelated fields of research where several academicians, technologists, and independent agencies are working together for the benefit of human kind. The 2nd International Conference on Intelligent Circuits and Systems (ICICS 2018) builds a bridge between technologist and environmentalist, academics and R & D institutions, private and government organization, social visionaries and experts from all strata of the society. ICICS 2018 will explore the new horizons of innovations of researchers working for the development of smart and green technologies in the field of Energy, Electronics, Communication, Computers, and Control. </p>
<p style="font-weight:bold">
Download The Call For Paper <button mat-raised-button color="primary">Download</button>
</p>
<p>The smart and green technologies have grown worldwide in size and complexity over the years. The conference has eminent plenary speakers, tutorials on the topic of current interests, and paper presentation sessions, spanning the spectrum of Energy, Electronics, Communication, Computers and Control over the two days from 20 to 21 April 2018. The conference invites papers for presentation and general participation from academics, industries, R & D organizations, consultancy firms, statutory and regulatory bodies, from across the world, working in the latest field of smart technologies in Energy, Electronics, Communication, Computers and Control.
Prospective authors are cordially invited to submit their full-length manuscripts/papers containing original research ideas, developmental ideas, analysis, findings, simulations and algorithms through online process of Easy Chair Submission System https://easychair.org/conferences/?conf=icics20180 on or before December 31st, 2017 (Sunday) based upon, but not limited to, the following broad area of interest:</p>


<h1 class="title">Technical Tracks</h1>
<hr class="margin-line">
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Track#1: Power and Energy
      </mat-panel-title>
    </mat-expansion-panel-header>
<p><i class="material-icons">done</i>  Energy management and efficiency</p>
<p><i class="material-icons">done</i>  Energy resources and optimization</p>
<p><i class="material-icons">done</i>  Electric power transmission</p>
<p><i class="material-icons">done</i>  Electrical circuits</p>
<p><i class="material-icons">done</i>  Electric vehicles</p>
<p><i class="material-icons">done</i>  Energy efficient infrastructure</p>
<p><i class="material-icons">done</i>  Grid connected renewable energy</p>
<p><i class="material-icons">done</i>  Smart grid and Grid computing</p>
<p><i class="material-icons">done</i>  Mechatronics</p>
<p><i class="material-icons">done</i>  Optimization, simulation and modeling</p>
<p><i class="material-icons">done</i>  Power quality issues and challenges</p>
<p><i class="material-icons">done</i>  Renewable power conversion technologies</p>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Track#2: Electronics and Communication
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p><i class="material-icons">done</i>  Advanced VLSI systems</p>
    <p><i class="material-icons">done</i>  Biomedical signal processing</p>
    <p><i class="material-icons">done</i>  COBOTS</p>
    <p><i class="material-icons">done</i>  Cognitive computing</p>
    <p><i class="material-icons">done</i>  Embedded and real time systems</p>
    <p><i class="material-icons">done</i>  Electronic devices</p>
    <p><i class="material-icons">done</i>  Fog Computing</p>
    <p><i class="material-icons">done</i>  Optical electronics</p>
    <p><i class="material-icons">done</i>  Mobile communication and networks</p>
    <p><i class="material-icons">done</i>  Microelectronics</p>
    <p><i class="material-icons">done</i>  Nanomaterials and Nanotechnology</p>
    <p><i class="material-icons">done</i>  Power electronics</p>
    <p><i class="material-icons">done</i>  Sensor networks</p>
    <p><i class="material-icons">done</i>  Signal and image processing</p>
    <p><i class="material-icons">done</i>  Smart sensors</p>
    <p><i class="material-icons">done</i>  Wireless communication and antenna</p>
  </mat-expansion-panel>


  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Track#3: Computer Science And Technology
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p><i class="material-icons">done</i>  Artificial intelligence</p>
    <p><i class="material-icons">done</i>  Big data analysis</p>
    <p><i class="material-icons">done</i>  Cyber security and forensics</p>
    <p><i class="material-icons">done</i>  Cloud computing</p>
    <p><i class="material-icons">done</i>  Data compression</p>
    <p><i class="material-icons">done</i>  Evolutionary algorithms</p>
    <p><i class="material-icons">done</i>  Internet of Things</p>
    <p><i class="material-icons">done</i>  Industry 4.0</p>
    <p><i class="material-icons">done</i>  Industry IOT</p>
    <p><i class="material-icons">done</i>  ICT for agriculture and social</p>
    <p><i class="material-icons">done</i>  welfare</p>
    <p><i class="material-icons">done</i>  Mobile ad-hoc networks</p>
    <p><i class="material-icons">done</i>  Machine learning</p>
    <p><i class="material-icons">done</i>  Natural language processing</p>
    <p><i class="material-icons">done</i>  Parallel and distributed computing</p>
    <p><i class="material-icons">done</i>  Soft computing</p>
    <p><i class="material-icons">done</i>  Software engineering</p>
    <p><i class="material-icons">done</i>  Intelligent process control system</p>
    <p><i class="material-icons">done</i>  Robotics and automation</p>
  </mat-expansion-panel>

</mat-accordion>

<h1 class="title">Important Dates</h1>
<hr class="margin-line">
<div class="row">
  <div class="col-lg-6" style="font-weight:bold">
      <p><i class="material-icons">done</i>  Paper submission deadline : December 31st, 2017</p>
        <p><i class="material-icons">done</i>  Paper acceptance notification: January 30th, 2018</p>
          <p><i class="material-icons">done</i>  Registration commencement : February 15th, 2018</p>
          <p><i class="material-icons">done</i>  Camera ready submission : February 28th, 2018</p>
  </div>
  <div class="col-lg-6" style="font-weight:bold">
      <p><i class="material-icons">done</i>  Registration deadline (without late fee) : March 15th, 2018</p>
        <p><i class="material-icons">done</i>  Registration deadline (with late fee) : March 25th, 2018e</p>
          <p><i class="material-icons">done</i>  Conference dates : April 20-21st, 2018</p>
  </div>

</div>


<h3 style="text-decoration:underline; font-weight:bold">Guidelines For Paper Submission</h3>
<p>ICICS 2018 invites full-length manuscripts/papers containing original research ideas, developmental ideas, analysis, findings, simulations and algorithms from individuals of R & D organizations, academic institutions, industries of repute from across the world working in the latest field of smart technologies in energy, electronics, communication, computers, and control. The paper should begin with the title, short abstract and a list of keywords, and following are the guidelines for the authors before submitting their paper(s).</p>
<p><i class="material-icons">done</i>  All papers should follow formatting instructions as per conference/journal(s) policy.</p>
<p><i class="material-icons">done</i>  Papers already submitted to other conferences/journals are not allowed to submit.</p>
<p><i class="material-icons">done</i>  Authors should follow the plagiarism policy of the conference and journal(s).</p>
<p><i class="material-icons">done</i>  The paper should not exceed double column six pages including bibliography and appendices. Paper may be asked to submit as .DOC, DOCX and .PDF file.</p>
<p><i class="material-icons">done</i>  Papers will be submitted through an on-line process of Easy Chair Submission System and the link for which is given below:- https://easychair.org/conferences/?conf=icics20180</p>

<h3 style="text-decoration:underline; font-weight:bold">ICICS 2018 is carrying out three rounds of review process before final publication of the paper:</h3>
<p><i class="material-icons">done</i>  Submitted papers will be assessed on the basis of suitability of technical content and plagiarism policy of the conference/journal(s).</p>
<p><i class="material-icons">done</i>  Submitted papers will be double-blind peer reviewed by at-least three experts. Authors of accepted papers will be allowed to resubmit camera ready papers after incorporating reviewers’ comments within the specified deadline.</p>
<p><i class="material-icons">done</i>  Authors of accepted papers have to register for the conference and be present in person for the presentation of his/her paper(s).</p>

<h3 style="font-weight:bold; text-decoration:underline">Publication Details</h3>
<div class="row">
  <div class="col-lg-6">
    <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Confrence 2l18</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../assets/images/publications.jpg" alt="Photo of a Shiba Inu">
</mat-card>
  </div>
  <div class="col-lg-6" style="font-weight:bold; font-style:italic">
    <p>Submitted papers will be double-blind peer-reviewed by at-least two experts. Authors of accepted papers will be allowed to resubmit camera ready papers after incorporating reviewers comments within the specified deadline.
The conference has the approval of “Conference Publishing Services (CPS)" http://www.computer.org/portal/web/cscpshome
The proceedings of the conference will be submitted to Xplore and CSDL. Content will be submitted to the indexing companies for possible indexing. Indexing services are independent organizations, and CPS cannot guarantee that any particular abstract or index entry will be included in Ei Compendex or any other indexing service.
Furthermore, the extended versions of few selected papers will be recommended to some prestigious international journals for consideration.</p>
  </div>

</div>
</div>
<div class="jumbotron">
  <h1 style="text-align: center; text-decoration: underline">All the footer will go here</h1>
</div>
