<div class="container-fluid">
<h1 class="blink_me" style="text-decoration:underline;text-align:center;font-weight:bold;font-style:italic">CONFRENCE 2K18</h1>

<div class="col-lg-12">
  <img class="img-responsive" src="../assets/images/confrence.jpg" alt="">

</div>

<!-- Angular Material Card  -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Confrence 2018</mat-card-title>
          <mat-card-subtitle>International Confrence</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/images/card-image.jpg" alt="Photo of a IMAGE">
      </mat-card>

    </div>
    <div class="col-lg-6">
      <h1 style="text-decoration:underline; font-style:italic">About The Confrence</h1>
      <p>
        ICICS is a series of conferences initiated by School of Electronics and Electrical Engineering at Lovely Professional University. The 2nd International Conference on Intelligent Circuits and Systems (ICICS 2018) will explore the new horizons of innovations of researchers working for the development of smart and green technologies in the field of Energy, Electronics, Communication, Computers and Control. ICICS always aims to identify new opportunities for the social and economic benefits of the society. ICICS builds a bridge between academics and R & D institutions, social visionaries and experts from all strata of society to present the on-going research activities and foster research relations between them. It provides opportunities to:
      </p>
      <h3>
<i class="material-icons">done</i>
exchange new ideas, applications and experiences
</h3>
<h3>
<i class="material-icons">done</i>
define the path forward to establish research relations
</h3>
<h3>
<i class="material-icons">done</i>
find global partners for future collaboration.
</h3>


    </div>

  </div>
</div>


<div class="jumbotron">
  <h2 style="text-align:center; text-decoration:underline">IMPORTANT DATES</h2>
  <div class="row">
    <div class="col-lg-6">
      <p><i class="material-icons">done</i>  Paper submission deadline : December 31st, 2017</p>
      <p><i class="material-icons">done</i>  Paper acceptance notification: January 30th, 2018</p>
      <p><i class="material-icons">done</i>  Registration commencement : February 15th, 2018</p>
      <p><i class="material-icons">done</i>  Camera ready submission : February 28th, 2018</p>

    </div>
    <div class="col-lg-6">
      <p><i class="material-icons">done</i>  Registration deadline (without late fee) : March 15th, 2018</p>
      <p><i class="material-icons">done</i>  Registration deadline (with late fee) : March 25th, 2018</p>
      <p><i class="material-icons">done</i>  Conference dates : April 20-21st, 2018</p>
    </div>

  </div>
</div>

<div class="container">
  <h1 style="text-align:center; text-decoration:underline">Confrence Photo Gallery</h1>
<div class="col-lg-4">
  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>IMAGE</mat-card-title>
    <mat-card-subtitle>image description</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/imagegallery1.jpg" alt="Photo of a IMAGE">
</mat-card>

</div>

<div class="col-lg-4">
  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>IMAGE</mat-card-title>
    <mat-card-subtitle>image description</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/imagegallery2.jpg" alt="Photo of a IMAGE">
</mat-card>

</div>

<div class="col-lg-4">
  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>IMAGE</mat-card-title>
    <mat-card-subtitle>image description</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/imagegallery3.jpg" alt="Photo of a IMAGE">
</mat-card>

</div>

<div class="col-lg-4">
  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>IMAGE</mat-card-title>
    <mat-card-subtitle>image description</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/imagegallery4.jpg" alt="Photo of a IMAGE">
</mat-card>

</div>

<div class="col-lg-4">
  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>IMAGE</mat-card-title>
    <mat-card-subtitle>image description</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/imagegallery1.jpg" alt="Photo of a IMAGE">
</mat-card>

</div>

<div class="col-lg-4">
  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>IMAGE</mat-card-title>
    <mat-card-subtitle>image description</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/imagegallery1.jpg" alt="Photo of a IMAGE">
</mat-card>

</div>

</div>

<div class=" container jumbotron">
  <h2 style="text-align:center; text-decoration:underline">Contact Details</h2>
  <div class="row">
    <div class="col-lg-4">
      <p>contact person info</p>
      <p>Mr Name of the person</p>
      <p>Mobile: +9111111111</p>

    </div>

    <div class="col-lg-4">
      <p>Address Info</p>
      <p>The chair, College name</p>
      <p>CGCTC</p>
      <p>Jhanjeri</p>
      <p>Punjab</p>

    </div>

    <div class="col-lg-4">
      <p>Location Info</p>
      <p>Nearest Railway Station</p>
      <p>Phagwara</p>
    </div>

  </div>

</div>
